h1 {
  color: #EFF1F5;
  background-color: ;
  border: 2px solid black;
  font-size: 50px
}

ul {
  color: (239,241,245);
  font-size: 40px;
}

body {
  font-family: Garamond, serif;
  font-size: 30px
}

ul.nav a {
  color: #EFF1F5 !important;
}

navbar {
  color: #EFF1F5;
  font-family: Garamond, serif;
  font-size: 30px
}

p {
    font-size: 25px;
}

nav {
  color: #EFF1F5;
  font-family: Garamond, serif;
  font-size: 30px
}